[submodule "third-party/matplotlib-cpp"]
	path = third-party/matplotlib-cpp
	url = https://github.com/turtle-robotics/matplotlib-cpp
[submodule "third-party/toppra"]
	path = third-party/toppra
	url = https://github.com/hungpham2511/toppra
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json
[submodule "third-party/cppzmq"]
	path = third-party/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "third-party/libzmq"]
	path = third-party/libzmq
	url = https://github.com/zeromq/libzmq
